@import url(@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  background-image: url('../img/vecteezy_graphics.jpg');
}

.jumbotron {
  margin-top: 40px;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
}

label:hover {
  background-color: skyblue;
  padding-right: 20%;
}

#output {
  text-align: center;
  padding: 50px;
  font-size: xx-large;
  color:rgb(13, 130, 100);
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
}

.pressBtn {
  border: none;
  border-radius: 7px;
  background-color: lightskyblue;
  color: black;
  font-family: Roboto, sans-serif;
  font-style: oblique;
}

.pressBtn:hover {
  background-color: rgb(19, 169, 228);
}